{% load staticfiles %}


<!--DOCTYPE html -->
<html>
<head>
	<title>Binita Buddhacharya</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Binita Buddhacharya, Bini, Personal Profie, Personal Website" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href='{% static "css/bootstrap.css" %}' rel="stylesheet" type="text/css" media="all" />
	<link href='{% static "css/font-awesome.css" %}' rel="stylesheet"> 
	<link rel="stylesheet" href='{% static "css/lightbox.css" %}' type="text/css" media="all" /><!--gallery-popup-css-->
	<link href='{% static "css/popuo-box.css" %}' rel="stylesheet" type="text/css" media="all" /><!-- Pop-up -->
	<link href='{% static "css/style.css" %}' rel="stylesheet" type="text/css" media="all" />
	<!--fonts-->
	<link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
	<!--//fonts-->
	<link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}'>
</head>


<body>
<!-- banner -->
	<div class="banner" id="home" >



<div class="header">
	<div class="w3_agile_logo">
		<h1><a href="/">My Info<span>WHO IAM</span></a></h1>
	</div>
	<div class="w3_menu">
		<div class="mobile-nav-button">
			<div class="mobile-nav-button__line"></div>
			<div class="mobile-nav-button__line"></div>
			<div class="mobile-nav-button__line"></div>
		</div>
		<nav class="mobile-menu">
			<ul>
				<li><a href="#home" class="active scroll" >Home</a></li>
				<li><a href="#about" class="scroll" >About</a></li>
				<li><a href="#skills" class="scroll" >Skills</a></li>
				<li><a href="#work" class="scroll" >Education</a></li>
				<li><a href="#gallery" class="scroll" >Projects</a></li>
				<li><a href="#contact" class="scroll" >Contact</a></li>
			</ul>				
		</nav>
	</div>
	<div class="clearfix"> </div>
</div>


<div class="agile_banner_info">
		<h2><span>HI! I'm</span> Binita Buddhacharya</h2>
			<div id="typed-strings" class="agileits_w3layouts_strings">
					<p>LEAD <i>Artist</i></p>
					<p>LEAD <i>Live Performer</i></p>
					<p>ACTIVE <i>Social Worker</i></p>
				</div>
			<span id="typed" style="white-space:pre;"></span>
			<p class="banner-p-w3ls">Art is the prespection of cration to go through beyond the imagination.</p>
		</div>
		<div class="w3_agileits_social_media">
			<ul>
				<li><a href="#" class="wthree_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="#" class="wthree_dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				<li><a href="#" class="wthree_behance"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
			</ul>
		</div>
		<div class="banner-image-w3layouts">
			<img src='{% static "images/men.png" %}' alt=" " class="img-responsive" />
		</div>
</div>
<!-- //banner -->