{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<!-- gallery -->
<div class="gallery_wthree" id="gallery">
 <div class="container">
      <h3 class="w3_head w3_head1">
      	My Projects 
      	<span>My latest work</span>
      </h3>
	  <div class="gallery_grid agileits_w3layouts">

	  	{% for obj in single_image_list %}
		  	<div class="col-md-4 grid-1 grid-c grid_w3l">
				<a class="fix-img-heigh" href='{{ obj.get_absolute_url }}'>
					<img src='{{ obj.album_photo.url }}' alt=" " class="img-responsive" />
					<div class="w3agile-text w3agile-text-small full-height-w3">
						<h5>{{ obj.name }}</h5>
			        </div>
				</a>
			</div>
		{% endfor %}

		<div class="clearfix"></div>

	</div>
</div>
</div>
<!-- //gallery -->

{% endblock content %}
